
include header   

div(class='wrap')
  div(class='content main')
    header(class='site-header')
      include site_header

    div(class='container content_container') 
      div(class='row') 
        div(class='col col-md-12 title_goods')
          h2.title_search_tags Constant Delight
        h6.text_search_tags Бренд профессиональной косметики для волос CONSTANT DELIGHT возник на российском рынке в начале 2006 года. Производство размещается в Италии на 3 площадках в Милане. Результаты исследовательских разработок, которые воплощены в продуктах бренда – это итоги сотрудничества итальянских и российских стилистов.
        each val, index in cd
          include card.pug
        

    include nav.pug
include footer.pug