footer2
    nav2.menu_footer
       a(href='#') Главная 
       a(href='/order') Корзина 
       a(href='/contacts') Контакты 
       a(href='/delivery') Доставка
       a(href="#") Оплата

    
    .social
        
        a.logo_bot(href="#")
            img(src="../images/logo7.png", alt="", class='graficlogo')
        a.soc(href="https://www.instagram.com/cosmetichka_shebekino/", target='_blank')
            img(src="../images/instagram.png", alt="")
        a.soc(href="#")
            img(src="../images/vk3.png", alt="")
        a.soc(href="#")
            img(src="../images/help.png", alt="")
        a.soc(href="https://yandex.ru/maps/-/CCUEQGBDpA", target='_blank')
            img(src="../images/gps.png", alt="")
    p Copyright© 2020 Cosmetichka_Shebekino. All rights reserved. 
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
script(src='/js/nav.js')
script(src='/js/card.js')
script(src='/js/main.js')
