
include header   

div(class='wrap')
  div(class='content main')
    header(class='site-header')
      include site_header

    div(class='container content_container')
      div(class='row') 
        input.btn_back.btn_back_search(type="button" onclick='history.back();' value='НАЗАД')
        div(class='col col-md-12 title_goods')
          h2.title_search_tags L`oreal
        h6.text_search_tags L’Oréal (произносится Лореа́ль) — французская компания, лидер мирового рынка парфюмерии и косметики. Штаб-квартира — в коммуне Клиши-ла-Гаренн в пригороде Парижа.Основана в 1909 году французским химиком Эженом Шюлле.
        each val, index in lor
          include card.pug
        

    include nav.pug
include footer.pug