div(
    class='site-nav button-primary' id='nav-toggle'
)   
    div(class='close-button-div')
        button(class='button-primary-outlined close-nav') X
    h3(class='cart-header') Категории
    div(id='category-list')
    hr
    h3(class='cart-header cart-order') Корзина
    div(class='table_order2')
        div(id='cart-nav')
        div(class='text-right')
            a(
                class='order_button'
                href='/order'
                target='_blank'
            ) 
                button(class='button-primary-outlined') Оформить заказ
