
include header   

div(class='wrap')
  div(class='content main')
    header(class='site-header')
      include site_header

    div(class='container content_container') 
      div(class='row') 
        div(class='col col-md-12 title_goods')
          h2.title_search_tags OLLIN
        h6.text_search_tags Производство профессиональной косметики Ollin. OLLIN PROFESSIONAL открывает нам удивительный мир красоты и гармонии, дарит изысканные ощущения, уверенность в себе и своей неотразимости. Главная ценность OLLIN Professional — это опытная команда стилистов-парикмахеров.
        each val, index in oll
          include card.pug
        

    include nav.pug
include footer.pug