
include header   

div(class='wrap')
  div(class='content main')
    header(class='site-header')
      include site_header

    div(class='container content_container') 
      div(class='row') 
        div(class='col col-md-12 title_goods')
          h2.title_search_tags Palmolive
        h6.text_search_tags Международная компания, производящая такие продукты, как мыло, средства для гигиены рта, зубные пасты и щётки, корма для домашних животных, бытовую химию.
        each val, index in pal
          include card.pug
        

    include nav.pug
include footer.pug