
include header   

div(class='wrap')
  div(class='content main')
    header(class='site-header')
      include site_header

    div(class='container content_container') 
      div(class='row') 
        div(class='col col-md-12 title_goods')
          h2.title_search_tags PUPA
        h6.text_search_tags На сегодняшний день бренд PUPA, который выпускает компания MICYS, представляет на рынок красоты множество продуктов, самые популярные из которых — это блески для губ, мерцающие рассыпчатые тени и помады с эффектом голограммы. 
        each val, index in pup
          include card.pug
        

    include nav.pug
include footer.pug