
include header   

div(class='wrap')
  div(class='content main')
    header(class='site-header')
      include site_header

    div(class='container content_container') 
      div(class='row') 
        div(class='col col-md-12 title_goods')
          h2.title_search_tags Syoss
        h6.text_search_tags Syoss – это первый бренд средств для волос, разработанных и протестированных совместно с профессиональными стилистами. Продукты Syoss можно купить в обычном магазине по доступной цене.
        each val, index in syo
          include card.pug
        

    include nav.pug
include footer.pug