
include header   

div(class='wrap')
  div(class='content main')
    header(class='site-header')
      include site_header

    div(class='container content_container') 
      div(class='row') 
        div(class='col col-md-12 title_goods')
          h2.title_search_tags Vivienne Sabo
        h6.text_search_tags (Франция) Косметика Vivienne Sabo выпускает огромный ассортимент декоративных косметических средств, которые полностью безопасны для кожи. Они не вызывают аллергические реакции(покраснения, высыпания и прочие). 
        each val, index in vivi
          include card.pug
        

    include nav.pug
include footer.pug