
include header   

div(class='wrap')
  div(class='content main')
    header(class='site-header')
      include site_header

    div(class='container content_container') 
      div(class='row') 
        div(class='col col-md-12 title_goods')
          h2.title_search_tags Wella
        h6.text_search_tags Wella Professional (Велла Профешнл) – знаменитая косметика для волос от известной немецкой компании. Продукты Wella — это профессиональный уход за волосами, создание креативных образов без посещения салона.
        each val, index in wel
          include card.pug
        

    include nav.pug
include footer.pug